@charset "utf-8";
/* CSS Document */
/*knowledge centre section*/
#knowledge-centre-section{width:700px; height: 100%; clear:both; display:block; }
#knowledge-centre-section .km-bg{background:left 212px no-repeat; /* margin-top:0px; */}
.kc-detail{/* padding:10px 0px !important; */ display:block; font-weight: bold !important; font-size:14px; color:#4d4b49;}
